<div class="container">
    <div class="home-container">
        <div class="feature-header-article">
            Top Articles
        </div>
        <div class="filler-div">

        </div>
    </div>
</div>
<div class="home-container">
    <div class="feature-container">
        <!-- <div class="feature-header">
            Top Articles
        </div> -->
        <mat-card class="feature-card">
            <img mat-card-image class="feature-article-image" src="assets/images/gtaOnline.png" alt="Gta Online">
            <mat-card-content>
                <h4 class="feature-sub-header">Review</h4>
                <h2>GTA Online: The Best Worst Online Experience</h2>
                <p>By: Carter Craven - <span>Sep 2, 2020</span></p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="grid-container">
        <!-- <mat-card class="grid-card" (click)="featureClicked()"> 
            <img mat-card-image class="grid-article-image" src="assets/images/gtaOnline.png" alt="Gta Online">
            <mat-card-content>
                <h5 class="feature-sub-header">Review</h5>
                <h3>GTA Online: The Best Worst Online Experience</h3>
                <p>By: Carter Craven - <span>Sep 2, 2020</span></p>
            </mat-card-content>
        </mat-card> -->

        <mat-card class="list-card-item">
            <div class="list-card">
                <div class="list-image-container">
                    <img mat-card-image class="list-card-image" src="assets/images/gtaOnline.png" alt="Gta Online">
                </div>
                <mat-card-content>
                    <h5 class="feature-sub-header">Review</h5>
                    <h3>GTA Online: The Best Worst Online Experience</h3>
                    <p>By: Carter Craven - <span>Sep 2, 2020</span></p>
                </mat-card-content>
            </div>
        </mat-card>
        <mat-card class="list-card-item">
            <div class="list-card">
                <div class="list-image-container">
                    <img mat-card-image class="list-card-image" src="assets/images/gtaOnline.png" alt="Gta Online">
                </div>
                <mat-card-content>
                    <h5 class="feature-sub-header">Review</h5>
                    <h3>GTA Online: The Best Worst Online Experience</h3>
                    <p>By: Carter Craven - <span>Sep 2, 2020</span></p>
                </mat-card-content>
            </div>
        </mat-card>
        <mat-card class="list-card-item">
            <div class="list-card">
                <div class="list-image-container">
                    <img mat-card-image class="list-card-image" src="assets/images/gtaOnline.png" alt="Gta Online">
                </div>
                <mat-card-content>
                    <h5 class="feature-sub-header">Review</h5>
                    <h3>GTA Online: The Best Worst Online Experience</h3>
                    <p>By: Carter Craven - <span>Sep 2, 2020</span></p>
                </mat-card-content>
            </div>
        </mat-card>
    </div>
</div>