.article-container{
    display: flex;
    flex-direction: column;
}


.title-container {
    display: flex;
    width: auto;
    height: auto;
    padding: 1%;
    margin-top: 1%;
    margin-left: 8%;
    margin-right: 8%;
}

.title {
    font-size: 46px;
    font-weight: bold;
    font-family: 'dimis', 'arial', sans-serif;
    /* color: white; */
    text-align: center;
    width: 50%;
}