<div class="article-container">
  <div class="title-container">
    <div class="title">
        New Article
    </div>
    <div class="title">
        Layout Preview
    </div>
</div>
</div>


<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form> -->

 