/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: 'dimitri';
    src: url(assets/fonts/DIMITRI_.TTF) format("truetype");
  }

  @font-face {
    font-family: 'dimis';
    src: url(assets/fonts/DIMIS___.TTF) format("truetype");
  }


  .pointer-curosr {
    cursor: pointer;
  }